::-webkit-scrollbar {
    width: 5px;
} 
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media(prefers-reduced-motion: no-preference){
  *{
    scroll-behavior:smooth;
  }
}
:root{
  --home-color: rgba(17, 45, 50, 75%);
  --main-color: #88BDBC;
  --primary-font-color: #F9B17A;
  --secondary-color: #112D32;
  --tertiary-color: #254E58;
  --fourth-color: #4f4a41;
  --plain-color: #fff;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--home-color);
    overflow-x: hidden;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Header */
#header{
    background-color: var(--secondary-color);
    width: 100%;
    height: 60px;
    align-items:flex-start;
    position: fixed;
    float: left;
    z-index: 1;
  }
  /* Nav bar */
  nav{
    width: 100%;
    height: 60px;
    padding-left: 3rem;
  }
    nav a{
      float: left;
      color: var(--plain-color);
      padding: 1.2rem 2rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
      nav a:hover{
        text-decoration: underline;
        color: var(--main-color);
        transition: all 0.3s;
      }
    #c1, nav i::before{
      display: none;
    }
#home, #about, #projects, #contact{
  padding-top: 60px;
  min-height:100vh;
}
h1, h2, p{
  margin: 0;
}
#home{
  background-color: var(--home-color);
}
.intro{
  position: relative;
  padding-top: 9rem;
  padding-left: 10rem;
}
  #home h1{
    letter-spacing:0.35rem;
    font-size:4.6rem;
    color: var(--primary-font-color);
  }
  #home h2{
    font-size:2.5rem;
    color: var(--main-color);
  }
  .cap{
    font: bolder 1.1rem Verdana, sans-serif;
    letter-spacing:0.8rem;
    color: var(--main-color);
  }
.img-bg{
  position: absolute;
  padding-top: 60px;
  min-height:100vh;
  min-width: 100vw;
  background: var(--home-color) url(images/home_background.jpg) no-repeat;
  background-size: 100vw 100vh;
  z-index: -1;
}
.btn{
  padding: 4rem 10rem;
}
  .btn button{
    font: bolder 0.9rem Verdana, sans-serif;
    color: var(--main-color);
    background-color:transparent;
    border-color: var(--main-color); 
    border-radius: 15px;
    width: 200px;
    height: 50px;
  }
    .btn button:hover{
      cursor: pointer;
      background-color: var(--secondary-color);
      color: #fff;
      border: none; 
      text-decoration: underline;
      box-shadow: 0px 0px 12px 5px var(--main-color);
      transition: all 0.2s ease-in-out;
    }
#about{
  background-color: var(--tertiary-color);
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 5rem;
  gap: 8rem;
  color: var(--plain-color)
}
  .description, .round-img{
    width: 50%;
  }
  .description{
    margin-top: -100px;
  }
  .round-img img{
    border-radius: 50%;
    box-shadow: 0px 0px 12px 2px var(--main-color);
    max-width: 85%;
  }
  .description h1{
    font-size: 3.5rem;
    border-bottom: 2px solid var(--main-color);
  }
  .description p::before{
    content: "\a";
    white-space: pre;
  }
#projects{
  padding: 60px 5rem;
  background-color: var(--fourth-color);
}
  .gridBox{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  #projects h1{
    padding: 3rem 0rem 3rem 0;
    font-size: 2.5rem;
    width: 200px;
    color: var(--plain-color);
  }
  .gridBox a{
    text-decoration: none;
    color: var(--fourth-color);
    font-size: 0.9rem;
    text-align: center;
  }
    .card-box{
      background-color: #fff;
      max-width: 350px;
      max-height: 360px;
      border-radius: 15px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
      .card-box img{
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
      .card-box:hover, .card-box:hover img a{
        transform: scale(1.1);
        box-shadow: 0px 0px 12px 3px black;
        text-decoration: underline;
        color: var(--tertiary-color);
      }
      
#contact{
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.content{
  text-align: center;
  min-width: 100%;
}
#contact h1{
  font-size: 3rem;
  color: var(--fourth-color);
}
#contact p{
  margin: 0 20rem;
  color: var(--tertiary-color);
}
  #contact p::before{
    content: "\a";
    white-space: pre;
  }
    .contacts{
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      gap: 160px;
    }
      .contacts div:not[address]{
        width: 15%;
      }
    .content i{
      margin-right: .6rem;
      font-size: 2rem;
      color: var(--tertiary-color);
    }
    .address{
      margin-top: -40px;
      width: 18%;
    }
    .social a, .elsewhere a, .address a{
      margin-top: 1rem;
      display: flex;
      justify-content:left;
      align-items: center;
      text-align: left;
      text-decoration: none;
      color: var(--fourth-color);
    }
    .social a:hover, .elsewhere a:hover{
      font-weight: bolder;
    }
    .social h2, .elsewhere h2, .address h2{
      text-align: left;
      text-decoration: underline;
      color: var(--fourth-color);
    }
footer{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--plain-color);
}
@media screen and (max-width: 380px) {
  *{
    overflow-x: hidden;
  }
  #header {
    background-color: var(--secondary-color);
    width: 100%;
    bottom: 0;
    height: 60px;
    position: fixed;
    float: left;
  }
    nav{
      padding: 0;
      width: 100%;
      height: 60px;
    }
      #c1, nav i::before{
        display: block;
        font-size: 1.5rem;
      }
      nav span{
        display: none;
      }
      nav a{
        padding: 1rem 2.05rem;
      }
  #home{
    padding-top: 15px;
  }
  .img-bg{
    padding-top: 0px;
    background: var(--home-color) url(images/home_background_mobile.jpg);
    background-size: 100vw 100vh;
  }
  .intro{
    padding-top: 9rem;
    padding-left: 2rem;
  }
    #home h1{
      font-size:3rem;
    }
    #home h2{
      font-size:1.5rem;
    }
  .cap{
    font: bolder 0.9rem Verdana, sans-serif;
  }
  .btn{
    padding-left: 2rem;
  }
  #about{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 3rem 2rem;
    gap: 0.2rem;
  }
  .description{
    width: 100%;
    margin-top: 0px;
  }
    div#a1{order: 2;}
    div#a2{order: 1;}
  .round-img{
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
    .round-img img{
      max-width: 100%;
    }
  #projects{
    padding: 0px 1rem 3rem;
  }
    #projects h1{
      padding: 0;
      margin: 2rem 0rem 3rem;
      width: 100%;
      border-bottom: 2px solid var(--primary-font-color);
    }
  #contact h1{
    padding-top: 3rem;
    font-size: 2rem;
  }
  #contact p{
    margin: 0 2rem;
  }
  .contacts{
    gap: 3rem;
    flex-direction: column;
  }
  .address h2{
    text-align: center;
  }
  .address{
    margin: 0 0 4rem;
    width: 12rem;
  }
  .address span{
    width: 80%;
  }
  footer{
    width: 100%;
    height: 20vh;
    padding: 0rem 2rem 4rem;
  }
}
